.App {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  width: 100vw;
  color: #505b62;
  margin: 0px;
  font-size: 11pt;
  padding: 0px;
}

.publ {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  width: 70vw;
  color: #505b62;
  margin: 0px;
  font-size: 11pt;
  padding: 0px;
}

ul.publ-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul.publ-list>li {
  display: flex;
  align-items: top; /* pour aligner verticalement les éléments */
  flex-wrap: nowrap; /* pour s'assurer que les éléments ne passent pas à la ligne suivante */
  margin-bottom: 10px;
}

li {
  list-style-type: square;
}

ul.publ-list>li.year {
  font-size: small;
  font-weight: 800;
}



ul.publ-list>li.entry .box, 
ul.publ-list>li.entry .nr, 
ul.publ-list>li.entry p {
  margin-right: 10px; /* ajoutez une marge à droite pour un peu d'espacement entre les éléments */
}

ul.publ-list>li.entry>div.box>img { width:12px; height:12px; }
ul.publ-list>li.article>div.box>img { background:#c32b72; }
ul.publ-list>li.inproceedings>div.box>img { background:#196ca3; }
ul.publ-list>li.proceedings>div.box>img { background:#33c3ba; }
ul.publ-list>li.book>div.box>img { background:#f8c91f; }
ul.publ-list>li.incollection>div.box>img { background:#ef942d; }
ul.publ-list>li.informal>div.box>img { background:#606b70; }

ul.publ-list>li.entry>div.nr { min-width:2.5em; text-align:center; white-space:nowrap;
  padding-left:4px; }
ul.publ-list>li.entry>cite { display:table-cell; font:inherit; padding:0px 2px; }

cite.data .title { color:#666666; font-weight:700; margin-right: 5px;}
cite.data .author a { color: #7d848a; text-decoration: none; cursor: pointer;}
cite.data .author a:hover {
  color: blue;
  text-decoration: underline;
}


.year-slider {
  margin-left: 50px;
  margin-right: 50px;
}


.categories {
  list-style-type: 'none'; 
  margin: 0;
  padding: 0
}
